{% extends "default.html" %}

{# template/page_list.html #}
{# ページ一覧 テンプレート #}

{# Last Change: 2011/11/13 17:24:01 +0900. #}

{# ---------- スクリプト ---------- #}
{% block javascript %}

{% if is_admin %}
<script type="text/javascript" src="/javascript/page_list.js" defer="defer"></script>
{% endif %}

{% endblock %}

{# ---------- タイトル ---------- #}
{% block title %}ページ一覧{% endblock %}

{# ---------- タスクバー ---------- #}
{% block taskbar %}
<ul class="etc">
	<li><a href="/problem/">問題</a></li>
	<li><a href="/contest/">コンテスト</a></li>
	
	{# 管理者な場合、新規作成リンクを表示 #}
	{% if is_admin %}
	<li class="delimiter"><a href="javascript: void 0" class="new">新規</a></li>
	{% endif %}
</ul>
{% endblock %}

{# ---------- コンテンツ ---------- #}
{% block content %}

<h2>ページ一覧</h2>

<ul>
	{% for page in page_list %}

	{# ページが公開に設定されているか、管理者な場合に表示 #}
	{% if page.public or is_admin %}
	<li>
		<a href="{{ page.id }}/">{{ page.title }}</a>

		{% if not page.public %}
		[非公開]
		{% endif %}
		
		{% if page.internal %}
		[学内限定]
		{% endif %}
	</li>
	{% endif %}
	
	{% endfor %}
</ul>

{% endblock %}

{# vim: se noet ts=2 sw=2 sts=0 ft=htmldjango : #}
